<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="js/components/App.css" />
    <script src="/js/components/Header.js"></script>
    <script src="/js/components/User.js"></script>
    <script src="/js/components/HomePage.js"></script>
    <script src="/js/components/NewUser.js"></script>
    <script src="/js/components/DisplayUsers.js"></script>
</head>
<body>
<div id="root">
    loading
</div>
</body>

<script src="/js/App.js"></script>


</html>
